@media screen and (max-width: 640px) {
  .responsive-table thead tr {
    position: absolute;
    top: -9999em;
    left: -9999em;
  }
  .responsive-table tr {
    border: 1px solid #0a0a0a;
    display: block;
  }
  .responsive-table tr + tr {
    margin-top: 1.5rem;
  }
  .responsive-table td {
    border: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #0a0a0a;
    padding-left: 50%;
    position: relative;
  }
  .responsive-table td:before {
    content: attr(data-label);
    display: inline-block;
    font-weight: bold;
    line-height: 1.5;
    margin-left: -100%;
    width: 45%;
    min-width: 100px;
    position: relative;
    z-index: 1;
  }
  .responsive-table td:after {
    content: '';
    position: absolute;
    background: #9ab4cb;
    width: 20%;
    min-width: 100px;
    height: 95%;
    left: 1px;
    top: 1px;
    z-index: 0;
  }
  table.list td {
    text-align: left;
  }
  table.list td.hide-when-print {
    display: none;
  }
  table.list td.id {
    width: 100%;
    text-align: left;
  }
}
