@media screen and (max-width: 899px) {
  table.responsive-table thead tr {
    position: absolute;
    top: -9999em;
    left: -9999em;
  }
  table.responsive-table tr {
    border: 1px solid #0a0a0a;
    display: block;
  }
  table.responsive-table tr + tr {
    margin-top: 1.5rem;
  }
  table.responsive-table td {
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    border-bottom: 1px solid #0a0a0a;
    padding-left: 50%;
    position: relative;
  }
  table.responsive-table td:before {
    content: attr(data-label);
    display: inline-block;
    font-weight: bold;
    line-height: 1.5;
    margin-left: -100%;
    width: 45%;
    min-width: 100px;
    position: relative;
    z-index: 1;
  }
  table.responsive-table td:after {
    content: '';
    position: absolute;
    background: #9ab4cb;
    width: 20%;
    min-width: 100px;
    height: 95%;
    left: 1px;
    top: 1px;
    z-index: 0;
  }
  table.responsive-table td.hide-when-print {
    display: none;
  }
  table.responsive-table td.buttons {
    display: none;
  }
  table.responsive-table td.id {
    width: 100%;
    text-align: left;
  }
  table.responsive-table td.tick {
    width:inherit;
  }
  tr.user td, tr.user td.email, tr.user td.tick {
    width:inherit;
  }
}
